* {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
}

.item {
  min-width: 220px;
  margin: 15px 0;
  padding: 10px;
  border: 1px solid lightblue;
  border-radius: 5px;
}

#currentLanguage:focus {
  background-color: lightblue;
}

.list-item {
  list-style-type: none;
}

.active {
  background-color: lightblue;
}

.fav-language {
  margin: 20px;
  padding: 20px;
  width: max-content;
  min-width: 250px;
  border: 1px solid #ccc;
}

.title {
  border-bottom: 2px solid gray;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.changeFavoriteBtn {
  border: none;
  background-color: aquamarine;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.changeFavoriteBtn:hover {
  background-color: rgb(14, 249, 170);
  scale: 1.1;
}

.changeFavoriteBtn:active {
  scale: 1;
}
